.filter-form {
    width: 90%;
    max-width: 55rem;
    margin: 2rem auto;
    background-color: #F3F2F0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.filter-form {
    color: #925C4D;
}
.filter-form label {
    padding-left: 40px;
}
.filter-form select {
    padding: 0.5rem;
    border: 1px solid #925C4D;
    color: #925C4D;
}
.filter-form button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #0077B5;
    cursor: pointer;
    background-color: #FFF;
    color: #0077B5;
}
.filter-form button:hover {
    background-color: #0077B5;
    color: #FFF;
}
